<div>
    <h2 id="page-heading">
        <span>Procedimentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-procedimento" [routerLink]="['/procedimento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Procedimento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="procedimentos?.length === 0">
        <span>No procedimentos found</span>
    </div>
    <div class="table-responsive" *ngIf="procedimentos?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="data"><span>Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descricao"><span>Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="professor.id"><span>Professor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipo.id"><span>Tipo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="aluno.id"><span>Aluno</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let procedimento of procedimentos ;trackBy: trackId">
                <td><a [routerLink]="['/procedimento', procedimento.id, 'view' ]">{{procedimento.id}}</a></td>
                <td>{{procedimento.data | date:'medium'}}</td>
                <td>{{procedimento.descricao}}</td>
                <td>
                    <div *ngIf="procedimento.professor">
                        <a [routerLink]="['/professor', procedimento.professor?.id, 'view' ]" >{{procedimento.professor?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="procedimento.tipo">
                        <a [routerLink]="['/tipo-procedimento', procedimento.tipo?.id, 'view' ]" >{{procedimento.tipo?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="procedimento.aluno">
                        <a [routerLink]="['/aluno', procedimento.aluno?.id, 'view' ]" >{{procedimento.aluno?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/procedimento', procedimento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/procedimento', procedimento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/procedimento', { outlets: { popup: procedimento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
