<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="procedimento">
            <h2><span>Procedimento</span> {{procedimento.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Data</span></dt>
                <dd>
                    <span>{{procedimento.data}}</span>
                </dd>
                <dt><span>Descricao</span></dt>
                <dd>
                    <span>{{procedimento.descricao}}</span>
                </dd>
                <dt><span>Professor</span></dt>
                <dd>
                    <div *ngIf="procedimento.professor">
                        <a [routerLink]="['/professor', procedimento.professor?.id, 'view']">{{procedimento.professor?.id}}</a>
                    </div>
                </dd>
                <dt><span>Tipo</span></dt>
                <dd>
                    <div *ngIf="procedimento.tipo">
                        <a [routerLink]="['/tipo-procedimento', procedimento.tipo?.id, 'view']">{{procedimento.tipo?.id}}</a>
                    </div>
                </dd>
                <dt><span>Aluno</span></dt>
                <dd>
                    <div *ngIf="procedimento.aluno">
                        <a [routerLink]="['/aluno', procedimento.aluno?.id, 'view']">{{procedimento.aluno?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/procedimento', procedimento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
