<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoProcedimento">
            <h2><span>Tipo Procedimento</span> {{tipoProcedimento.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{tipoProcedimento.nome}}</span>
                </dd>
                <dt><span>Descricao</span></dt>
                <dd>
                    <span>{{tipoProcedimento.descricao}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-procedimento', tipoProcedimento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
