<div>
    <h2 id="page-heading">
        <span>Tipo Procedimentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipo-procedimento" [routerLink]="['/tipo-procedimento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Tipo Procedimento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tipoProcedimentos?.length === 0">
        <span>No tipoProcedimentos found</span>
    </div>
    <div class="table-responsive" *ngIf="tipoProcedimentos?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nome</span></th>
            <th><span>Descricao</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipoProcedimento of tipoProcedimentos ;trackBy: trackId">
                <td><a [routerLink]="['/tipo-procedimento', tipoProcedimento.id, 'view' ]">{{tipoProcedimento.id}}</a></td>
                <td>{{tipoProcedimento.nome}}</td>
                <td>{{tipoProcedimento.descricao}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tipo-procedimento', tipoProcedimento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tipo-procedimento', tipoProcedimento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tipo-procedimento', { outlets: { popup: tipoProcedimento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
